-- Create and use database
create database LibraryManagement1;
use LibraryManagement;

-- Create Members table (was Users)
create table Members (
  MemberID int primary key,
  MemberName varchar(100),
  Email varchar(100),
  PhoneNumber varchar(100)
);

insert into Members values
(1, 'Mohan Perdeshi', 'mohanperdeshi@gmail.com', '9794735332'),
(2, 'Kalpesh Patil', 'kalpeshpatil@gmail.com', '9833724122'),
(3, 'Yuvraj Bare', 'yuvrajbare@gmail.com', '9846252233'),
(4, 'Ishawar Desale', 'ishawardesale@gmail.com', '9864536245'),
(5, 'Uday Rajput', 'udayrajput@gmail.com', '9124251734');

-- Create Books table (was Hotels)
create table Books (
  BookID int primary key,
  BookTitle varchar(100),
  Author varchar(100),
  Rating int
);

insert into Books values 
(1, 'The Grand Tale', 'R. Varul', 5),
(2, 'City of Words', 'B. Resort', 4),
(3, 'Beachside Stories', 'A. Goa', 3),
(4, 'Mountain Dreams', 'P. Pune', 3),
(5, 'Sometime Somewhere', 'N. Nashik', 3);

-- Create Borrowing table (was Booking)
create table Borrowing (
  BorrowID int primary key not null,
  MemberID int,
  BookID int,
  IssueDate date,
  ReturnDate date,
  LateFees varchar(50),
  foreign key (MemberID) references Members(MemberID),
  foreign key (BookID) references Books(BookID)
);

insert into Borrowing values
(1, 1, 2, '2025-05-28', '2025-06-03', '₹50'),
(2, 3, 1, '2025-05-26', '2025-06-01', '₹30'),
(3, 4, 2, '2025-05-20', '2025-06-10', '₹0'),
(4, 5, 4, '2025-05-15', '2025-06-05', '₹10'),
(5, 3, 3, '2025-05-07', '2025-06-13', '₹20'),
(6, 2, 5, '2025-05-08', '2025-06-15', '₹15');

-- Create Reviews table (same)
create table Reviews (
  ReviewID int primary key,
  MemberID int,
  BookID int,
  Rating int,
  Comments text,
  foreign key (MemberID) references Members(MemberID),
  foreign key (BookID) references Books(BookID)
);

insert into Reviews values  
(1, 2, 3, 5, 'Excellent read!'),
(2, 3, 1, 3, 'A decent story'),
(3, 1, 2, 4, 'Interesting plot'),
(4, 5, 4, 4, 'Well-written'),
(5, 4, 5, 3, 'Average book');

-- ✅ Queries

-- View all members
select * from Members;

-- View all books
select * from Books;

-- View all borrowing transactions with member and book info
select 
  b.BorrowID,
  m.MemberName,
  bk.BookTitle,
  b.IssueDate,
  b.ReturnDate,
  b.LateFees
from Borrowing b
join Members m on b.MemberID = m.MemberID
join Books bk on b.BookID = bk.BookID;

-- View all reviews with member and book info
select  
  r.Rating,
  r.Comments,
  m.MemberName,
  m.PhoneNumber,
  bk.BookTitle,
  bk.Author
from Reviews r
join Members m on r.MemberID = m.MemberID
join Books bk on r.BookID = bk.BookID;

-- Check all tables
select * from Members;
select * from Books;
select * from Borrowing;
select * from Reviews;
